<div class="container text-center">
    <h3 class="title">I'm proud to have collaborated with some awesome companies:</h3>
    <div class="row mt-5 mb-4">
        {% for company  in companies %}
        {% if company.image %}
        <div class="col-12 col-lg-3">
           <img src="{{company.image.url}}" class="img-fluid border border-4 border border-primary image-card rounded" style=" border-color: #7510F7 !important;">
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>