<div class="container mb-4">
    <div class="mt-4 text-center">

        <h3 class="title">My recent work</h3>
        <h5 class="subtitle">Here are a few design projects I've worked on recently. Want to see more? Email me.</h5>

        <div class="row">
            {% for element in abilita %}
            <div class="col-4">ciao</div>
            {% endfor %}
        </div>
        
        <button type="button" class="btn btn-primary mt-4 rounded-pill mb-2 btn-lg "><i class="fa-solid fa-basketball"></i> Vedi altri progetti su Linkedin</button>


    </div>
</div>

<hr class="mt-2 mb-4">