.title{
    color: #141c3a;
    font-weight: 800;
}

.subtitle{
    font-weight: 300;
    line-height: 1.5;
    font-size: 1.25rem;
}

.purple{
    background-color: #7510F7;
}

.purple-text{
    color: #7510F7;
}

.btn-primary,  .btn-primary:active, .btn-primary:visited {
    background-color: white !important;
    color: #7510F7 !important;
    border-color: #7510F7 !important;
}
.btn-primary:hover{
    background-color: #7510F7 !important;
    color:white !important;
    border-color: #7510F7 !important;
}

.subtitle-table{
    font-size: 18px;
}

.image-card-project{
    max-height: 200px;
}
